<div class="row">

  <div class="col-md-6 login-container">
    <h2 style="margin: auto">Login </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" formControlName="username" autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && fCntrls.username.errors }" />
        <div *ngIf="submitted && fCntrls.username.errors" class="invalid-feedback">
          <div *ngIf="fCntrls.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" autocomplete="off"
          [ngClass]="{ 'is-invalid': submitted && fCntrls.username.errors }" />
        <div *ngIf="submitted && fCntrls.password.errors" class="invalid-feedback">
          <div *ngIf="fCntrls.password.errors.required">Password is required</div>
        </div>
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
      <button class="btn btn-info" routerLink="/register">Register</button>
      <div *ngIf="invalidLogin" class="invalid-feedback">
        <div class="alert alert-danger" role="alert">Invalid credentials</div>
      </div>
    </form>
  </div>
</div>